#FondoBarraNav{
    background-color: black;
}
#TextoBarraNav{
    color: white;
}
#TextoBarraNav:hover{
    color: chocolate;
}
.contenedor{
    background-color: #D9D9D9;  
    font-family: Arial, Helvetica, sans-serif;
}
/* #c1{
    background-color: aqua;
}
#c2{
    background-color: tomato;
} */
.textoInfo{
    margin-top: 2%;
    margin-left: 50%;
}
.contenedorInfe{
    background-color: #B0B8BA;
   
}
.contenedorInfe dl dt{
    display: inline-block;
}
.contenedorInfe dl dd{
    display: inline-block;
}